/* boook section//////////// */

*{
  --primary-color: #002c53;
  --bg-color: #ffffff;
}

/* boook section//////////// */
/* 
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}


  
  
#book-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

  font-family: sans-serif;

  
}

/* Book */
.book {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;   
  top: 0;
  left: 0;
  perspective: 1500px;

}

.front,
.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid powderblue;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}



.back-content {
  transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: #636363;
}

i {
  font-size: 50px;
  color: gray;
}

/* Paper stack order */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}
.prev-btn i{
  background: #636363 !important;
  padding: 10px !important;
} */

/* product menu content */

.product_menu_item {
    width: 100%;
    height: 330px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin-bottom: 25px;
    position: relative;
    transition: 0.5s;
  }
  
  .product_menu_item img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  
  
  .product_menu_item:hover .product_menu_item img {
    opacity: 0.3;
  }
  
  .product_menu_item:hover .product_menu_item_btn {
    opacity: 1;
  }
  
  
  
  
  
  .product_menu_content .product_menu_tab_content {
    display: none;
    animation: productTabContenAnimate 0.8s ease;
  }
  
  @keyframes productTabContenAnimate {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .product_menu_content .product_menu_tab_content.active {
    display: block;
  }
  
  /* product pagination */
  
  .institution_gallery {
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 6px 0px;
    background: var(--primary-color);
  }
  
  .institution_gallery a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }
  
  .institution_gallery_content_img {
    position: relative;
  }
  
  .institution_gallery_content_img_overlay h2 {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 20px;
    color: var(--bg-color);
    font-weight: 400 !important;
  }
  
  .institution_gallery_content_img_overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 44, 83, 0.8);
    height: 0;
    transition: 0.5s ease-in-out;
  }
  
  .institution_gallery_content_img:hover .institution_gallery_content_img_overlay {
    height: 30%;
  }
  
  
  .institution_gallery_content_btn a:hover {
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
  }
  
  
  
  .institution_gallery_content_img_overlay {
    display: flex;
    justify-content: space-between;
  }
  
  .overlay_btn {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
  
  .institution_gallery_content_img:hover .overlay_btn {
    pointer-events: auto;
    user-select: auto;
    opacity: 1;
  }
  
  .overlay_btn a {
    width: 55px;
    height: 55px;
    background: var(--bg-color);
    display: inline-block;
    align-items: center;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    margin-top: -20px;
    overflow: hidden;
    margin-right: 15px;
    transition: .2s,ease-in-out;
  
  }
  
  .overlay_btn a svg path {
    fill: var(--primary-color);
  
  }
  
  .overlay_btn a:hover {
    background: linear-gradient(120deg,
        rgba(0, 44, 83, 1),
        rgba(206, 133, 34, 1));
  
  }
  
  .overlay_btn a svg {
    width: 25px;
  }
  
  
  .overlay_btn {
    transition: 0.5s ease-in-out;
  }
  
  .overlay_btn:hover.overlay_btn a svg path {
    fill: var(--bg-color) !important;
  
  
  }
  
  .institution_gallery_content_img a img {
    width: 100%;
    height: 80vh;
  
  }
  
  .lb-data .lb-close {
    background-image: url(../image/close.png) !important;
    display: block;
    float: right;
    width: 25px;
    height: 25px;
    text-align: right;
    outline: none;
  }
  
  
  
  .lb-nav a.lb-next {
    background: url(../image/next.png) right 48% no-repeat !important;
    opacity: 1 !important;
    float: right;
    width: 64% !important;
  }
  
  .lb-nav a.lb-prev {
    background: url(../image/prev.png) left 48% no-repeat !important;
    opacity: 1 !important;
    float: right;
    width: 34% !important;
  }
  
  .lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--primary-color) !important;
    scroll-behavior: none !important;
    width: 100% !important;
    aspect-ratio: 1/1;
  }
  
  .lb-image {
    width: 800px !important;
    height: 500px !important;
    object-fit: cover !important;
  }
  
  @media screen and (max-width: 875px) {
    .lb-image {
      width: 650px !important;
      height: 400px !important;
    }
  }
  
  
  @media screen and (max-width: 700px) {
    .lb-image {
      width: 550px !important;
      height: 350px !important;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .lb-image {
      width: 100% !important;
      height: 250px !important;
    }
  }
  
  @media screen and (max-width: 450px) {
    .lb-image {
      width: 270px !important;
      height: 230px !important;
    }
  }
  
  /* Institution Gallery End */
  


  /* boook section//////////// */


*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.containera, .book-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.containera{
	width: 100%;
	height: 100vh;
	
}
.book-content{
	width: 100%;
    width: 600px;
	height: 430px;
	position: relative;
	perspective: 1000px;
	transition: 1s;
}
.book{
	position: absolute;
    
	width: 65%;
	height: 100%;
	transition: 1s;
	transform-style: preserve-3d;
	transform-origin: left; 
}
.face-front{
	width: 100%;
	height: 100%;
	background: white;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
}
.face-back{
	width: 100%;
	height: 100%;
	background: white;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
}


.face-front{
	box-shadow: inset 3px 0px 20px -7px black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.face-back{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px) rotateY(180deg);
	box-shadow: inset -3px 1px 20px -7px black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
    
    
}

.book #trsf {
    background: url('../image/book.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
 object-fit: cover;
    height: 100%;
    background-size: 100% 100%;
}
 .book #threethp{
    background: url('../image/book.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
   
 object-fit: cover;
    height: 100%;
    background-size: 100% 100%;
}

.book #fourp{
    background: url('../image/book.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  
 object-fit: cover;
    height: 100%;
    background-size: 100% 100%;
}

.book #fivep{
    background: url('../image/book.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
 object-fit: cover;
    height: 100%;
    background-size: 100% 100%;

}
.book #sixp{
    background: url('../image/book.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
 object-fit: cover;
    height: 100%;
    background-size: 100% 100%;
}
.book #sevenp{
    background: url('../image/book.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
 object-fit: cover;
    height: 100%;
    background-size: 100% 100%;
}
#portada{
	background: url('../image/book.jpg');
}
#portada-back{
	background: url('../image/book.jpg');
}
#portada, #portada-back{
	background-size: 100% 100%;
}

/* Clases que se agregaran con Javascript */

.trnsf{
	transform: translateX(80px);

}
.trnsf-reset{
	transform: translateX(0px);
}

/* @media para hacer el texto responsivo */

@media screen and (max-width: 800px){
	p{
		font-size: 12px;
	}
}



